<launch>
    <node pkg="opendrone" type="waypoint" name="waypoint" output="screen" />
    <node pkg="waypoint_generator" type="waypoint_generator" name="waypoint_generator" output="screen">
        <!-- waypoint_type: eight, circle -->
        <param name="waypoint_type" value="circle"/>
        <param name="autoTrigger" value="true" />
        <remap from="~odom" to="/mavros/local_position/odom"/>
    </node>
</launch>